*{
  margin: 0px;
  padding: 0;
}
@font-face {
  font-family: 'Bavista';
  src: url('bavista_soulare/Bavista_Soulare.otf');
  src: url('bavista_soulare/Bavista_Soulare.ttf');
}
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}
#homepagevideo{
  object-fit: cover;
  width: 100%;
  height: 90vh;
  object-position: center 25%;
}
#homepagevideo video{
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  z-index: -1;
}
nav{
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: Bavista, serif;
  background-image: url("contacto.jpg");
}
nav ul li{
  list-style: none;
  display: inline-block;
}
nav ul li a{
  text-decoration: none;
  color: rgb(0,3,32);
  font-size: 26px;
  font-weight: 90;
  padding: 10px;
  transition: 0.5s;
}
nav ul li a:hover{
  -webkit-text-stroke: 0.1px transparent;
  color: rgb(50, 50, 112);
}
.storename h1{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: Bavista, sans-serif;
  font-size: 4rem;
  position: absolute;
  color: rgb(0, 3, 32);
  font-weight: 600;
  transition: 0.7s;
}
.storename h1:hover{
  -webkit-text-stroke: 1px transparent;
  color: rgb(231, 231, 255);
}
.quince-bg{
  background-image: url("quince.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.quince-bg h2{
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Bavista, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(0,3,32);
  transition: 0.7s;
}
.quince-bg h2:hover{
  -webkit-text-stroke: 1px transparent;
  color: rgb(231, 231, 255);
}
.eventos-bg{
  background-image: url("eventos.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.eventos-bg h2{
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Bavista, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(0,3,32);
  transition: 0.7s;
}
.eventos-bg h2:hover{
  -webkit-text-stroke: 1px transparent;
  color: rgb(231, 231, 255);
}
.accessorios-bg{
  background-image: url("accessories.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	margin: 0;
	padding: 0;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(0,3,32);
}
.accessorios-bg h2{
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Bavista, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(0,3,32);
  transition: 0.7s;
}
.accessorios-bg h2:hover{
  -webkit-text-stroke: 1px transparent;
  color: rgb(231, 231, 255);
}
.flores-bg{
  background-image: url("flores.png");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.flores-bg h2{
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Bavista, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(0,3,32);
  transition: 0.7s;
}
.flores-bg h2:hover{
  -webkit-text-stroke: 1px transparent;
  color: rgb(231, 231, 255);
}
.contacto-bg{
  background-image: url("contacto.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	margin: 0;
	padding: 0;
}
.contacto-bg h2{
  text-align: center;
  display: flex;
  justify-content: center;
  font-family: Bavista, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  color: rgb(0,3,32);
  transition: 0.7s;
}
.contacto-bg h2:hover{
  -webkit-text-stroke: 1px transparent;
  color: rgb(231, 231, 255);
}
